* {	
    border: 0px;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bolder;
    font-size: 11px;
    margin-bottom: 0px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: rgba(27, 27, 27, 0);
    color: #cdd6f4;
    border-radius: 5px;
}

tooltip {
    background: #1a1a1a;   
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #e0e0e0;
    transition: 0.3s;
}

#workspaces button label{
    font-size: 16px;
    transition: none;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#workspaces button.active {
    color: #e0e0e0;
    font-size: 40px;
}

#hyprland-workspaces button.focused {
    border-top: 0px;
    color: #a6adc8;
    background: #1a1a1a;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #000000;
    background: #1a1a1a;
    border-radius: 10px;
}


#workspaces button:hover {
    background: none;
    color: #cdd6f4;
    border-radius: 10px;
}


#custom-power_profile,
#custom-weather,
#cpu,
#window,
#custom-vkplayer,
#custom-filemanager,
#clock,
#battery,
#custom-gpu-usage,
#custom-cpu,
#custom-notification,
#pulseaudio,
#custom-intellij,
#custom-steam,
#custom-startwine,
#custom-telegram,
#custom-poweroff,
#custom-vpn,
#custom-settings,
#taskbar,
#workspaces,
#memory,
#network,
#custom-edge,
#bluetooth,
#language,
#mpris,
#temperature,
#custom-wofi,
#workspaces,
#tray,
#backlight {
    background: alpha(#1a1a1a, 1);
    opacity: 1;
    padding: 0px 10px;
    margin: 0;
    margin-top: 0px;
    border: none;
}

#taskbar{
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#taskbar button{
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    border-radius: 20px;
}

#taskbar button.active{
    background-color: #1b1b1b;
}
#mpris{
    border-radius: 10px;
    margin-left: 10px;
    color: #e0e0e0;
}

#temperature {
    color: #e0e0e0;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

#custom-wofi{
    color: #e0e0e0;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    margin-right: 10px;
    padding-right: 13px;
}

#custom-settings{
    color: #e0e0e0;
    font-size: 15px;
}

#language{
    color: #e0e0e0;
	border-radius: 10px;
	margin-left: 5px;
    margin-right: 10px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    color: #e0e0e0;
    border-radius: 0px 0px 0px 0px;
    padding-left: 7px;
    margin-right: 0px;
    border: none;
}

#tray {
    font-size: 5px;
    margin-left: 5px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0px 7px;
    transition: none;
    padding-right: 7px;
}

#tray menu {
    border-radius: 20px;
    transition: none;
    border: 2px solid #e0e0e0;
    background-color: rgba(26, 26, 26, 1);
    padding-bottom: 7px;
    padding-top: 7px;
}

#tray menuitem{
    border-radius: 10px;
    margin-right: 5px;
    transition: none;
    margin-left: 5px;
}

#tray menu menuitem:hover {
    transition: none;
    background-color: alpha(#e0e0e0, 0.9);
    color: #1a1a1a;
}

#workspaces {
    color: #e0e0e0;
    border-radius: 10px;
    transition: none;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}



#custom-power_profile {
    color: #e0e0e0;
    border-left: 0px;
}

#window {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    font-size: 13px;
    color: #e0e0e0;
    border-radius: 10px;
    margin-left: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding-left: 7px;
}



#network {
    color: #e0e0e0;
    margin-right: 5px;
    border-radius: 20px 20px 20px 20px;
    border-left: 0px;
    border-right: 0px;
}


#pulseaudio {
    color: #e0e0e0;
    border-left: 20px;
    border-right: 20px;
    margin-right: 5px;
    margin-left: 0px;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#battery {
    color: #e0e0e0;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
    border: none;
}

#custom-weather {
    border-radius: 10px;
    border-right: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

#custom-notification{
    color: #e0e0e0;
	border-radius: 10px 0px 0px 10px ;
	border: none;
    font-size: 14px;
	margin-right: 0px;
}

#custom-poweroff{
    color: #e0e0e0;
  border-radius: 0px 10px 10px 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 15px 0px 10px;
  font-size: 13px;
}
#memory{
    color: #e0e0e0;
    border: none;
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#cpu{
	margin-right: 0px;
	color: #e0e0e0;
    border-radius: 0px;
}
