* {
    font-family: "JetBrainsMono Nerd Font";
  /*color: #e0e0e0;*/
}

#window {
  background: #1a1a1a;
  margin: auto;
  padding: 10px;
  border-radius: 0px;
  /*border: 2 px solid #019EFF;*/
}
#scroll{
  border: none;
}
#input {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
  color: #e0e0e0;
}

#entry:selected {
  border-radius: 15px;
  background-color: alpha(#e0e0e0, 0.1);
  color: #ffffff;
  outline: none;
}

#text {
  margin: 2px;
}
