* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
}

#window {
  background: #1b1b1b;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  /*border: 2px solid #019EFF;*/
}
#scroll{
  border: none;
}
#input {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  border-radius: 15px;
  background-color: #2e3440;
  outline: none;
}

#text {
  margin: 2px;
}
