* {
  font-family: JetBrainsMono;
  color: #e5e9f0;
  background: #1e1e1e;
}

#window {
  background: rgba(30, 30, 46, 1);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
#  border: 2px solid #019EFF;
}

#input {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  border-radius: 15px;
  background-color: #2e3440;
}

#text {
  margin: 2px;
}
